<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{information?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="recipe-picture" [src]="information?.image">
  <div class="ingredients-title">
    <h1>Ingredients</h1>
  </div>
  <div class="ingredients-list" >
    <p *ngFor="let ingredient of ingredients">- {{ ingredient.name }}</p>
  </div>
  <div class="instructions">
    <h1>Instructions</h1>
    {{information?.instructions}}
  </div>
  <div>
    <p class="footer">Made & Designed by: Daniel Chung</p>
  </div>
</ion-content>

